.text{
    color: rgb(14, 13, 13);
    height: 30%;
    display: flex;
    position: absolute;
    margin-top: 200px;
    width: 25%;
    margin-left: 35%;
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 1027px) {
.text{
    margin-left: 35%;
    margin-top: 15%;
}}
@media (max-width: 857px){
.text{
    margin-top: 130px;
    width: 25%;
}
}
@media (max-width: 673px){
.text{
    margin-top: 140px;
}
}
@media (max-width: 577px){
.text{
    width: 40%;
    margin-top:145px;
    font-size: 12px;
}
  }
}

@media (max-width: 495px){
 .text{   
    margin-top:140px;
    margin-left:25%;
}
}
@media (max-width: 375px){
    .text{
      width:40%;
       }
    }

