.Author{
    color: rgb(14, 13, 13);
    display: flex;
    position: absolute;
    margin-top: 320px;
    width: 30%;
    margin-left: 53%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 150%;

}

@media (max-width: 1027px) {
.Author{
        margin-left: 60%;
        margin-top: 270px;
    }
@media (max-width: 857px){
.Author{
    margin-top: 250px;
}
}
@media (max-width: 673px){
.Author{
    margin-top: 250px;
}
}

}
@media (max-width: 577px){
    .Author{
        font-size: 20px;
    }
  }
  @media (max-width: 495px){
.Author{
    margin-top: 45%;
    font-size: 15px;
}
  }
  @media (max-width:429px){
 .Author{   
       margin-top:250px;
 
   }
   }
 
    
    