*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App{
 background-color: yellow;
 display: flex;
 position: relative;
}

.App img{  
min-width: 100%;
height: 100vh;
}
.img-container{
  display: flex;
  position: absolute;

 
 }
 .img-container img{
max-width: 10%;
max-height: 70%

 }

 .button{
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color:rgb(255, 255, 255);
  left: 300px;
  margin: 350px;
  width: 10%;
  height: 5%;
}
@media (max-width: 1027px) {
  .App{
    height: 465px;
  }
.img-container{
   margin-top: 20px;
  margin-left: 25%;
  }
  .button{
      margin: 35%;
 
  }
  .App{
    height: 465px;
  }  

}
@media (max-width: 857px){
.img-container img{
   width: 450px;
    
     }
.App{
  height: 465px;
}
.button{
  margin: 350px;
  left: 30%;
  width: 15%;
  }
}
@media (max-width: 673px){
  .img-container img{
    margin-top: 5%;
    width: 400px;
     
      }
.button{
margin: 300px;
left: 20%;
width: 15%;
}
.App{
  height: 465px;
}
}
@media (max-width: 577px){
  .img-container img{
    width: 300px;
     
      }
.button{
font-size: 13px;
  }
.App{
  height: 465px;
}
}

@media (max-width: 460px){
  .img-container {
    margin-left: 18%;
     
      }
  .img-container img{
    width: 300px;
    margin-left: 0%;
     
      }
.button{
font-size: 11px;
margin-top: 300px;
margin-left: 230px;
  }
  .App{
    height: 465px;
  }
}
@media (max-width: 455px){
  .img-container{   
      margin-top: 22%;
      margin-left: 25%;
  }

  .img-container img{
    width: 250px;
    margin-left: 0%;
     
      }
.App{
  height: 465px;
}
.button{
  margin-top: 300px;
  margin-left: 150px;
    }
  
  }